/*기본 세팅 CSS입니다.*/

/*font 모음*/
@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family:'paybooc-Bold', ng, white;
    color:white;
    background: #151515;
}
a {
    text-decoration:none !important
}
a:hover {
    text-decoration:none !important
}

/*div css*/

/*p css*/
.tittle{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.explanation{
    font-size: 20px;
    text-align: center;
}
.tittlebox{
    height: 150px;
}
.buttenbox{
    height: 200px;
}

.copyright{
    font-size: 15px;
    text-align: right;
    color: #686868;
}