/*font 모음*/
@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family:'paybooc-Bold', ng, white;
    color:white;
    background: #151515;
}

.tittle{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    height: 500px;
    width: 400px;
    align-content: center;
}
